<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.berufsbildungscenter.leagueofstats" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllChampionsActivity"
            android:label="@string/title_activity_all_champions"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".ChampionStatsActivity"
            android:label="@string/title_activity_champion_stats"
            android:parentActivityName=".AllChampionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".FavoritSummonerActivity"
            android:label="@string/title_activity_favorit_summoner"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".FindSummonerActivity"
            android:label="@string/title_activity_find_summoner"
            android:parentActivityName=".FavoritSummonerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".SummonerActivity"
            android:label="@string/title_activity_summoner"
            android:parentActivityName=".FindSummonerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".FreeToPlayChampionsActivity"
            android:label="@string/title_activity_free_to_play_champions"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".AllItemsActivity"
            android:label="@string/title_activity_all_items"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".ItemActivity"
            android:label="@string/title_activity_item"
            android:parentActivityName=".AllItemsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".InGameActivity"
            android:label="@string/title_activity_in_game" >
        </activity>
    </application>

</manifest>
